:root {
  --main-text-color: #828282;
  --main-background: #41454e;

  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: #41454e;
  height: 100%;
  color: var(--main-text-color);
  font-size: 1.5em;
}

#holder {
  max-width: 425px;
  margin: auto;
  height: 100%;
  text-align: center;
}

#sudoku {
  padding-top: 20px;
}

.sudoku-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.sudoku-grid > div {
  border: 1px solid;
  border-color: #50555f #2c2f35 #2c2f35 #50555f;
}

.sudoku-grid .cell {
  height: 32px;
  padding-top: 6px;
  /* transition: .5s all; */
  text-shadow: 1px 1px #262a31;
  color: #707c92;
}

.sudoku-grid .cell.neighbour {
  background: #393e48;
}

.sudoku-grid .cell.original {
  color: var(--main-text-color)
}

.sudoku-grid .cell.hilight {
  /* color: #b1b1b1; */
  background: #2e333c;
}

.sudoku-grid .cell.selected {
  background: #414b5f;
}

.number-btns {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, 1fr);
  margin: 10px auto;
}

.number-btn {
}

button {
  padding: 3px 8px;
  background: #7b7d8e;
  border: none;
  font-size: .6em;
  border-radius: 3px;
  -webkit-appearance: none;
}

.number-btn.disabled button {
  background: #3f4150;
}

.timer {
  margin: 20px auto 15px;
  font-size: .8em;
}

.starter h2 {
  margin: 0 auto;
  padding: 4em 0 2em 0;
}