/* The Modal (background) */
.modal {
  position: fixed; 
  z-index: 1001; 
  padding: 40px 0; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, .45);
  opacity: 0;
  transition: .75s opacity;
}

.modal.active {
  opacity: 1;
}

/* Modal Content */
.modal-content {
  background-color: #373c44;
  margin: auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .19);
  font-size: .85em;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .score-list {
  margin: 1em auto;
}

.modal-content .score-list span {
  color: #353535;
}